.add-btn{
    cursor: pointer;
    display: inline-block;
    height: fit-content;
    padding: 5px;
    font-size: 12px;
    width: 70px;
    border-radius: 2px;
    text-align: center;
  }

  .silver-color:hover,.blue-color:hover{
    box-shadow: 1px 2px #b8b8b8;
    background-color: rgb(61, 180, 228);
    color:white;
    
  }

  .btn-wrapper{
      display:flex;
      justify-content: flex-end;
  }

  .silver-color{
      background-color: #eeeeee;
      color: black;
      margin-right: 12px;
  }

  .blue-color{
    background-color: rgb(18, 134, 180);
    color: white;
  }

