<mat-toolbar class= "toolbar font-style">
  <div>SWARM</div>
  <div class= "left-half">
  <div>FEED</div>
  <div>AUTHORS</div>
  <div>EXPLORE</div>
  <div>BLOG</div>
  <div>CONTACT</div>
  </div>

</mat-toolbar>
<mat-divider></mat-divider>
<div style="display: flex;">
  <div class = "left-wrapper">
    <div class="heading">
      Uploaded Image
    </div>
    <div *ngIf="!upImgFlag" class="uploaded-wrapper">
      <div style="font-size: large; color: gray; height: 60%">
        Upload the scanned image for the results.
      </div>
      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        accept="image/png,image/jpeg"
        #fileInput>
      <div class="add-btn" (click)="fileInput.click()" >
       Upload</div>
    </div>
    <div *ngIf="upImgFlag">
      <img style="width:224px; height: 224px;" [src]="imgURL" >
      <span style="margin-top: 10px;margin-left: 20px;" class="add-btn" (click)="again()" >
        Another test</span>
    </div>
  </div>
  <div class = "right-wrapper">
    <div class="heading">
      Analysis
    </div>
  </div>
</div>